.left-side {
  padding: 15px;
}

.right-side {
  width: 60%;
  background: blue;
}

.card-governess-infos #price {
  position: absolute;
  right: 10px
}

.card-governess-price {
  margin-left: 0px;
}
