.left-side {
  padding: 15px;
}

.right-side {
  width: 60%;
  background: blue;
}

.card-governess-price {
  margin-left: 0px;
  position: absolute;
  right: 20px;
}
.left-side a {
  text-decoration: none;
}

.cards-governess {
  position: relative;
}

.card-governess-infos h2 {
   color: black;
 }
.card-governess-infos p {
   color: black;
 }

 .card-governess-price h2 {
   color: black;
 }

