<div class="container">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">My trips</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Past trips</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">My missions</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Messages</a>
    </li>
  </ul>

  <!-- <div class="d-flex"> -->
     <!-- <div class="left-side row d-flex justify-content-around"> -->
          <div class="cards-journey">
            <% @bookings.each do |booking| %>
              <%= link_to booking_path(booking) do %>
                <div class="card-journey-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= Unsplash::Photo.search(booking.location).first.urls.full %>)">
                  <%= booking.location %>
              </div>
          <!-- </div> -->
      <% end %>
    <% end%>
  <!-- </div> -->
</div>

