<div class="container">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active" data-target="trips">My trips</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-target="past-trips">Past trips</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-target="missions">My missions</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-target="messages">Messages</a>
    </li>
  </ul>

  <div class="tab-content" id="trips">

    <div class="cards-journey">
      <% @locations.each do |location, bookings| %>
        <%#= link_to booking_path(booking) do %>
        <button class="cards-journey-button" type="button" data-toggle="modal" data-target="#modal-<%=bookings.first.location%>">
          <div class="card-journey-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= Unsplash::Photo.search(location).first.urls.full %>)">
            <%= location %>
          </div>
        </button>
        <%= render 'shared/modal-trip', bookings: bookings, location: location %>
      <% end %>
    </div>
  </div>

  <div id="past-trips" class="d-none tab-content">
    <container>
      <div class="row">
        <div class="col-8 offset-2 mt-3">
          <h2>You have no past trips</h2>
        </div>
      </div>
    </container>
  </div>

  <div id="missions" class="d-none tab-content">
    <%#= render 'shared/my_missions' %>
  </div>

  <div id="messages" class="d-none tab-content">
    <container>
      <div class="row">
        <div class="col-8 offset-2 mt-3">
          <h2>You currently have no messages</h2>
        </div>
      </div>
    </container>
  </div>
</div>
