.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f36865;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ff9999;
  color: white;
}


.btn-secondary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-secondary:hover {
  background: rgb(130, 130, 130);
  color: white;
}

#btn-modal {
  right: 20px;
}
