.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f36865;
  transition: background 0.3s ease;
  width:100%;
}

.btn-flat:hover {
  background: #ff9999;
  color: white;
}

.book {
  position: absolute;
    right: 25px;
    top: 465px;
    width: 90%;
    margin-top: 20px;
}
  right: 25px;
  top: 235px;
}

.btn-secondary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-secondary:hover {
  background: rgb(130, 130, 130);
  color: white;
}
