.navbar-myparents {
  justify-content: space-between;
  background: white;
}

.navbar-myparents .navbar-collapse {
  flex-grow: 0;
}

.navbar-myparents .navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-home {
  background: transparent;
}

.nav-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
