<div class="container mt-5">
  <%#= link_to "Back", governesses_path class: "btn btn-flat" %>
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      <div class="name">
        <h1>Prénom Nom</h1>
      </div>
      <h2 class="card-trip-pricing">Price</h2>
      <div class="book">
        <%= link_to "Book now", "#", class: "btn btn-flat" %>
      </div>
    </div>

    <div class="card-trip-infos2">
    <div class="localisation">
      <h2>Localisation</h2>
      <p>Paris</p>
    </div>

    <div class="">
      <h2>Description</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aliquam suscipit, qui nihil quas unde beatae sunt dolorum id nemo. Officia nisi esse veritatis magnam soluta, sequi eius reprehenderit consequuntur!</p>
    </div>
  </div>
</div>

  <div class=“card-trip”>
   <img src=“chat.png” class=“img-style”>
  </div>
</div>
